.Modal {
    position: fixed;
    z-index: 500;
    background-color: #ffffff;
    width: 70%;
    /* border: 1px solid #ccc; */
    box-shadow: 1px 1px 1px black;
    /* padding: 16px; */
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Header {
    background-color: #dedede;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.Header > span {
    font-size: 14px;
    font-weight: 700;
    padding: 2px 0 2px 8px;
}

.HeaderIcons {
    display: flex;
    align-items: center;
}

.SVG {
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 2px;
    margin-right: 2px;
}

.ContentBody {
    height: 100%;
    border-top: 0px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}