.Wrapper {
    display: flex;
    flex-direction: column;
    width: 16%;
    border: 1px solid;
    background-color: #ffffff;
    margin: 0 1% 1% 1%;
}

h3 {
    padding-left: 10px;
}

a {
    padding-left: 20px;
}